// Imports
@import url(https://fonts.googleapis.com/css?family=Bai+Jamjuree:200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);

// Font
$bodyFont: "Bai Jamjuree", sans-serif;

$lightWeight: 400;
$heavyWeight: 600;

$bodySize: 1.8rem;
// Color
$strongCyan: hsl(171, 66%, 44%);
$lightBlue: hsl(233, 100%, 69%);

$darkGreyBlue: hsl(210, 10%, 33%);
$greyBlue: hsl(201, 11%, 66%);
