@import url(https://fonts.googleapis.com/css?family=Bai+Jamjuree:200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  background: url(../images/bg-header-mobile.png) top no-repeat;
  background-size: 100% auto;
}

.container {
  width: min(85%, 45rem);
  margin: 0 auto;
  display: grid;
  row-gap: 20rem;
}

.title {
  font-size: 3.2rem;
  font-weight: 600;
  color: #4c545d;
}

.subtext {
  color: #9fabb2;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.6;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  text-align: center;
  padding-top: 15rem;
}
.header__image {
  height: auto;
  width: 10rem;
}
.header__buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}
.header__buttons--green {
  background-color: #26baa4;
}
.header__buttons--blue {
  background-color: #6173ff;
}
.header__buttons button {
  font-family: "Bai Jamjuree", sans-serif;
  padding: 1.5rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
}

.section-two {
  display: grid;
  text-align: center;
  row-gap: 2rem;
}
.section-two__image {
  margin-top: 4rem;
}

.text-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.text-card__title {
  font-size: 2.5rem;
  color: #4c545d;
  font-weight: 600;
}
.text-card__subtext {
  line-height: 1.6;
  font-size: 1.6rem;
  color: #9fabb2;
}

.image-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: 1rem;
  margin-top: 2rem;
  gap: 2.5rem;
  margin-bottom: 4rem;
}
.image-card__title {
  font-size: 2.5rem;
  color: #4c545d;
  font-weight: 600;
}
.image-card__subtext {
  line-height: 1.6;
  font-size: 1.6rem;
  color: #9fabb2;
}

.section-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}
.section-three__image {
  margin-top: 4rem;
}

.section-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section-four__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section-four__cards__subtext {
  margin-bottom: 6rem;
}

.section-five .logo-container {
  width: min(40%, 45rem);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.section-six {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.5rem;
}
.section-six__buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}
.section-six__buttons--green {
  background-color: #26baa4;
}
.section-six__buttons--blue {
  background-color: #6173ff;
}
.section-six__buttons button {
  font-family: "Bai Jamjuree", sans-serif;
  padding: 1.5rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
}

.footer {
  margin-top: 10rem;
  background-color: #f5f6f8;
  display: flex;
  padding: 5rem 0;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  text-align: center;
}
.footer__image {
  height: auto;
  width: 5rem;
}
.footer__links ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}
.footer__links ul li {
  font-size: 1.4rem;
  color: #4c545d;
}
.footer__links ul li a {
  text-decoration: none;
}
.footer__links ul li a:visited {
  color: inherit;
}
.footer__socials {
  display: flex;
  gap: 2.5rem;
}
.footer__socials i {
  font-size: 2.4rem;
  color: #4c545d;
  cursor: pointer;
}

@media screen and (min-width: 1500px) {
  body {
    background: url(../images/bg-header-desktop.png) top no-repeat;
    background-size: 100% auto;
  }

  .container {
    width: min(85%, 75rem);
    margin: 0 auto;
    display: grid;
    row-gap: 20rem;
  }

  .title {
    font-size: 4rem;
  }

  .subtext {
    font-size: 2rem;
  }

  .header__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .header__buttons button {
    padding: 1.5rem 4rem;
    border-radius: 10rem;
  }

  .section-two {
    margin-inline: -45rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr 4fr);
    grid-template-areas: "text-section text-section" "image cards";
    row-gap: 4rem;
    -moz-column-gap: 10rem;
         column-gap: 10rem;
  }
  .section-two__subtext {
    padding: 0 45rem;
  }
  .section-two__text-section {
    grid-area: text-section;
  }
  .section-two__image {
    grid-area: image;
    width: 100rem;
  }
  .section-two__cards {
    grid-area: cards;
    align-self: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding-right: 40rem;
  }
  .section-two__cards .text-card {
    align-items: flex-start;
  }

  .section-four {
    margin-inline: -35rem;
    gap: 2rem;
  }
  .section-four__cards {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4rem;
  }
  .section-four__cards .image-card {
    flex: 1;
  }

  .section-five {
    margin-inline: -35rem;
  }
  .section-five .logo-container {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .section-six__buttons {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .section-six__buttons button {
    padding: 1.5rem 4rem;
    border-radius: 10rem;
  }

  .footer {
    flex-direction: row;
    gap: 10rem;
    justify-content: flex-start;
    padding: 5rem 20rem;
  }
  .footer__links {
    padding-right: 80rem;
  }
  .footer__links ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer__links ul li {
    font-size: 2rem;
  }
  .footer__socials {
    margin-left: auto;
  }
}/*# sourceMappingURL=main.css.map */